$default-font: 'OpenSansRegular', 'arial', sans-serif;
$bold-font: 'OpenSansbold', 'arial', sans-serif;
$font-size--p: 15px;
$font-size--a: 17px;
$font-size--h2: 27px;
$font-size--h3: 25px;
$main-bg: #ffffff;
$accent-color: #63D1BB;
$accent-color--hover: #56C3B2;
$font-color--p: #444444;
$font-color: #000000;
$border-color: #ECECEC;
