.btn {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border: 2px solid $font-color--p;
  color: $font-color--p;
  text-decoration: none;
  text-transform: uppercase;
}
