.btn {
  padding-top: 5px;
  padding-bottom: 5px;

  display: block;

  color: $font-color--p;
  border: 2px solid $font-color--p;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
