.btn {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border: 2px solid $font-color--p;
  color: $font-color--p;
  text-decoration: none;
  text-transform: uppercase;
}
