.page-inner {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 30px;

  font-family: $default-font;
  font-size: $font-size--p;

  color: $font-color--p;
}
.page-inner__title {
  margin: 0;
  margin-bottom: 10px;

  font-family: $bold-font;
  font-size: $font-size--h3;

  color: $font-color;
  a {
    color: $font-color;

    cursor: pointer;
    text-decoration: none;
  }
}
.page-inner__price {
  font-weight: bold;
  b {
    padding-top: 15px;
    padding-bottom: 15px;

    display: block;

    text-align: center;
  }
}
.page-inner__title {
  &--contact {
    margin-bottom: 35px;

    font-size: 17px;
  }
}

.page-inner__form-headline {
  margin-top: 0;
  margin-bottom: 27px;
}
