.page-inner {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 30px;

  font-family: $default-font;
  font-size: $font-size--p;

  color: $font-color--p;
}

.page-inner--header {
  width: 720px;
  padding-top: 0;
  padding-bottom: 0;
}

.page-inner__title {
  margin: 0;
  margin-bottom: 10px;

  font-family: $bold-font;
  font-size: $font-size--h3;

  color: $font-color;
  a {
    color: $font-color;

    cursor: pointer;
    text-decoration: none;
  }
  &--contact {
    margin-bottom: 35px;

    font-size: 17px;
  }
}
.page-inner__price {
  font-weight: bold;
  b {
    padding-top: 15px;
    padding-bottom: 15px;

    display: block;

    text-align: center;
  }
}

.page-inner__form-headline {
  margin-top: 0;
  margin-bottom: 27px;
}

.page-inner--footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .page-inner {
    width: 768px;
    margin: 0 auto;
    padding: 50px;
    &--title {
      font-size: 43px;
    }
    &--product {
      width: 292px;
    }
    &--reviews {
      width: auto;
      position: relative;

      padding-bottom: 15px;

      background-image: url('../img/about-us-background.jpg');
      background-repeat: no-repeat;
      background-position: 0 0;
    }
    &--contacts {
      padding-top: 70px;
    }
    &--catalog {
      margin: 0 auto;
      width: 668px;
    }
    &--footer {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  .page-inner__title--reviews {
    margin-bottom: 56px;
  }
}

@media (min-width: 1250px) {
  .page-inner {
    width: 1250px;
    padding-right: 100px;
    padding-left: 100px;
    &--about-us {
      padding-left: 275px;
    }
    &--contacts {
      width: 577px;
      padding-left: 250px;
    }
    &--reviews {
      padding-left: 175px;
      background-position: 100px 0;
    }
    &--footer {
      padding-top: 45px;
    }
  }
  .page-inner__footer {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 1050px;
  }
}
