.about-us__list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;

  font-family: $bold-font;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.01em;

  list-style: none;

  color: $font-color;
}
.about-us__list-item {
  position: relative;

  padding-top: 83px;
}
.about-us__list-item {
  &::before {
    top: 30px;
    left: 0;
    @include content;
  }
  &:first-child {
    &::before {
      top: 30px;
      left: 8px;
    }
  }
  &:nth-child(2) {
    margin-bottom: 2px;
    &::before {
      top: 31px;
      left: 0;
    }
  }
  &:nth-child(3) {
    &::before {
      top: 34px;
      left: 8px;
    }
  }
  &:nth-child(4) {
    margin-bottom: 1px;
    &::before {
      top: 33px;
      left: 4px;
    }
  }
  &:nth-child(5) {
    &::before {
      top: 34px;
      left: -4px;
    }
  }
  &:nth-child(6) {
    &::before {
      top: 33px;
      left: 3px;
    }
  }
}
.about-us__list-item:nth-child(1)::before {
  width: 33px;
  height: 38px;

  background-image: url('../img/icon-feature-1.svg');

  fill: $accent-color;
}
.about-us__list-item:nth-child(2)::before {
  width: 47px;
  height: 27px;

  background-image: url('../img/icon-feature-3.svg');

  fill: $accent-color;
}
.about-us__list-item:nth-child(3)::before {
  width: 33px;
  height: 38px;

  background-image: url('../img/icon-feature-5.svg');

  fill: $accent-color;
}
.about-us__list-item:nth-child(4)::before {
  width: 33px;
  height: 38px;

  background-image: url('../img/icon-feature-2.svg');
}
.about-us__list-item:nth-child(5)::before {
  width: 55px;
  height: 23px;

  background-image: url('../img/icon-feature-4.svg');
}
.about-us__list-item:nth-child(6)::before {
  width: 33px;
  height: 38px;

  background-image: url('../img/icon-feature-6.svg');
}

@media (min-width: 768px) {
  .about-us {
    padding-top: 8px;
    margin-bottom: 8px;
  }
  .about-us__list-wrapper {
    ul {
      column-count: 2;
    }
  }

  .about-us__list-item {
    font-size: 20px;
    line-height: 22px;
    width: 100%;
    margin-bottom: 29px;
    &:first-child {
      &::before {
        top: 30px;
        left: 8px;
      }
    }
    &:nth-child(2) {
      margin-bottom: 29px;
      &::before {
        top: 31px;
        left: 0;
      }
    }
    &:nth-child(3) {
      &::before {
        top: 34px;
        left: 8px;
      }
    }
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      margin-left: -8px;
    }
    &:nth-child(4) {
      margin-bottom: 1px;
      margin-top: 28px;
      &::before {
        top: 33px;
        left: 4px;
      }
    }
    &:nth-child(5) {
      margin-top: 29px;
      &::before {
        top: 34px;
        left: -4px;
      }
    }
    &:nth-child(6) {
      &::before {
        top: 33px;
        left: 3px;
      }
    }
  }
}

@media (min-width: 1250px) {
  .about-us {
    width: 1250px;
    margin: 0 auto;
  }
  .about-us__list-item {
    width: 100%;
  }
  .about-us__list-wrapper {
    width: 700px;
  }
}
