.about-us {
  &__list {
    font-family: $bold-font;
    font-size: 17px;
    line-height: 20px;
    color: $font-color;
    list-style: none;
    padding: 0;
  }
  &__list-item {
    padding-top: 85px;
    position: relative;
  }
  &__list-item::before {
    @include content;
    top: 30px;
    left: 0;
  }
  &__list-item:nth-child(1)::before {
    background-image: url('../img/icon-feature-1.svg');
    width: 33px;
    height: 38px;
    fill: $accent-color;
  }
  &__list-item:nth-child(2)::before {
    background-image: url('../img/icon-feature-3.svg');
    width: 47px;
    height: 27px;
    fill: $accent-color;
  }
  &__list-item:nth-child(3)::before {
    background-image: url('../img/icon-feature-5.svg');
    width: 33px;
    height: 38px;
    fill: $accent-color;
  }
  &__list-item:nth-child(4)::before {
    background-image: url('../img/icon-feature-2.svg');
    width: 33px;
    height: 38px;
  }
  &__list-item:nth-child(5)::before {
    background-image: url('../img/icon-feature-4.svg');
    width: 55px;
    height: 23px;
  }
  &__list-item:nth-child(6)::before {
    background-image: url('../img/icon-feature-6.svg');
    width: 33px;
    height: 38px;
  }
}
