.catalog-form {
  input {
    margin: 0;
    padding: 0;
  }
  fieldset {
    border: none;
    border-top: 1px solid $accent-color;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  label {
    display: block;
    font-family: $bold-font;
    font-size: $font-size--a;
    color: $font-color;
    line-height: 19px;
    padding-top: 2px;
  }
}

.catalog-form-section {
  ul {
    margin:0;
    padding-bottom: 20px;
  }
  li {
    margin-bottom: 20px;
  }
  &:nth-of-type(2) {
    ul {
      padding-bottom: 3px;
    }
    li {
      margin-bottom: 36px;
    }
    .catalog-form__legend {
      margin-bottom: 24px;
    }
    label {
      padding-top: -1px;
      margin-top: 27px;
    }
  }
  &:nth-of-type(3) {
    > div {
      margin-bottom: 18px;
    }
    ul {
      padding-bottom: 8px;
    }
    .catalog-form__legend {
      margin-bottom: 22px;
    }
  }
  &:nth-of-type(4),
  &:nth-of-type(5),
  &:nth-of-type(6) {
    > div {
      margin-bottom: 3px;
    }
    ul {
      padding-bottom: 9px;
    }
  }
  &:nth-of-type(4) {
    ul {
      padding-bottom: 8px;
    }
    .catalog-form__legend {
      margin-bottom: 5px;
    }
  }
  &:nth-of-type(5) {
    .catalog-form__legend {
      &::after {
        left: 81px;
        width: 179px;
      }
    }
  }
}

.catalog-form__btn-wrapper {
  p {
    margin-bottom: 31px;
    margin-top:11px;
    font-family: $default-font;
    font-size: 14px;
    line-height: 16px;
    color: $font-color--p;
  }
}

.catalog-form__legend {
  color: $accent-color;
  text-transform: uppercase;
  font-family: $bold-font;
  font-size: 17px;
  position: relative;
  margin-bottom: 28px;
  &::after {
    content: "";
    position: absolute;
    width: 197px;
    height: 1px;
    background-color: $accent-color;
    top: 12px;
    left: 63px;
  }
}

.catalog-form__radio-item,
.catalog-form__checkbox {
  display: none;

  + label {
    padding-left: 64px;
  }
}

.catalog-form__radio-item {
  + label {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 35px;
      height: 35px;
      top: -6px;
      left: 0;
      border: 2px solid #000000;
      border-radius: 50%;
    }
  }
}
.catalog-form__radio-item:checked {
  + label {
    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      top: 5px;
      left: 12px;
      background-color: $accent-color;
      border-radius: 50%;
      border: none;
    }
  }
}

.catalog-form__checkbox {
  + label {
    padding-top: 6px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 37px;
      height: 35px;
      top: -5px;
      left: 0;
      border: 2px solid #000000;
    }
  }
}

.catalog-form__checkbox:checked {
  + label {
    &::after{
      content: "";
      position: absolute;
      width: 20px;
      height: 8px;
      top: 7px;
      left: 9px;
      transform: rotate(-45deg);
      background-color: transparent;
      border: 2px solid #000000;
      border-top: none;
      border-right: none;
      background-repeat: no-repeat;
    }
  }
}

.catalog-form__name {
  input {
    width: 260px;
    border: none;
    border-bottom: 2px solid #000000;
    font-family: $default-font;
    font-size: $font-size--a;
    color: $font-color;
    padding-top: 13px;
    padding-bottom: 13px;
    &::placeholder {
      color: #D2D2D2;
    }
  }
}

.catalog-form__user-data{
  input {
    background-color: transparent;
    position: relative;
    width: 260px;
    border: none;
    border-bottom: 2px solid #000000;
    font-family: $default-font;
    font-size: $font-size--a;
    color: $font-color;
    padding-top: 13px;
    padding-bottom: 13px;
    &::placeholder {
      color: #D2D2D2;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      background-repeate: no-repeat;
    }
  }
  input[type=tel]::before {
    background-image: url('../img/icon-phone.svg');
    width: 25px;
    height: 24px;
  }
  input[type=email]::before {
    background-image: url('../img/icon-mail.svg');
    width: 32px;
    height: 21px;
  }
}

.catalog-form__text {
  box-sizing: border-box;
  border: 2px solid #000000;
  width: 260px;
  height: 142px;
  margin-top: 20px;
  padding: 15px;
  padding-top: 11px;
  padding-bottom: 11px;

  &::placeholder {
    font-family: $default-font;
    font-size: $font-size--a;
    color: $font-color;
    line-height: 20px;
    color: #D2D2D2;
  }
}

.catalog-form__btn {
  background-color: #ffffff;
  width: 260px;
  font-family: $bold-font;
  font-size: $font-size--a;
  color: $font-color--p;
  height: 52px;
  &:hover {
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .catalog-form-center {
    background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 370px, #f1f1f1 370px, #f1f1f1 673px, #ffffff 673px, #ffffff 978px, #f1f1f1 978px, #f1f1f1 1206px, #ffffff 1206px, #ffffff 100%);
  }
  .page-inner__form-headline {
    margin-bottom: 8px;
    padding-left: 0;
    padding-right: 0;
  }
  .catalog-form {
    background-color: transparent;
    label {
      padding-left: 71px;
    }
    input,
    textarea {
      &::placeholder {
        font-size: 19px;
      }
    }
  }
  .catalog-form-section {
    padding-top: 52px;
    padding-bottom: 20px;
    position: relative;
    padding-left: 167px;
    ul {
      padding-bottom: 15px;
    }
    li {
      padding-top: 10px;
    }
  }
  .catalog-form__legend {
    display: inline-block;
    position: absolute;
    top: 63px;
    left: 0;
    font-size: 17px;
    &::after {
      display: none;
    }
  }
  .catalog-form__radio-item,
  .catalog-form__checkbox {
    + label {
      padding-left: 80px;
      font-size: 19px;
      &::before {
        width: 48px;
        height: 48px;
        top: -13px;
      }
    }
  }
  .catalog-form__checkbox {
    + label {
      &::before {
        top: -9px;
      }
    }
  }
  .catalog-form__radio-item:checked {
    + label {
      &::after {
        width: 20px;
        height: 20px;
        top: 3px;
        left: 16px;
      }
    }
  }
  .catalog-form__checkbox:checked {
    + label {
      &::after{
        top: 4px;
        left: 11px;
        width: 29px;
        height: 14px;
      }
    }
  }
  .catalog-form-section {
    .catalog-form__name {
      margin-bottom: 13px;
    }
    .catalog-form__user-data {
      padding-top: 0;
    }
    &:nth-of-type(1) {
      ul {
        margin:0;
        padding-bottom: 7px;
      }
      li {
        margin-bottom: 16px;
        height: 50px;
      }
    }
    &:nth-of-type(2) {
      padding-top: 47px;
      ul {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 3px;
        justify-content: space-between;
      }
      li {
        width: 239px;
        margin-bottom: 40px;
      }
      label {
        margin-top: 1px;
      }
    }
    &:nth-of-type(3) {
      padding-top: 46px;
      margin-bottom: 6px;
      > div {
        top: 69px;
      }
      ul {
        padding-bottom: 9px;
      }
      li {
        margin-bottom: 15px;
      }
      label {
        font-size: 19px;
      }
    }
    &:nth-of-type(4) {
      padding-top: 50px;
      padding-bottom: 16px;
      ul {
        padding-bottom: 0;
      }
      li {
        margin-bottom: 0;
      }
    }
    &:nth-of-type(5) {
      padding-top: 0;
      > div {
        top: -5px;
      }
      .catalog-form__legend {
        top: 15px;
      }
    }
    &:nth-of-type(6) {
      padding-top: 31px;
      padding-bottom: 23px;
      textarea {
        padding-top: 14px;
      }
    }
    &:nth-of-type(4),
    &:nth-of-type(5),
    &:nth-of-type(6) {
      > div {
        margin-bottom: 3px;
      }
      ul {
        padding-bottom: 9px;
      }
    }
    &:last-of-type {
      + p {
        margin-bottom: 30px;
        margin-top: 10px;
        font-family: $default-font;
        font-size: 12px;
        line-height: 16px;
        color: $font-color--p;
      }
    }
  }
  .catalog-form__name,
  .catalog-form__user-data {
    input {
      padding-left: 16px;
      box-sizing: border-box;
    }
  }
  .catalog-form__name {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    label {
      margin-right: 25px;
      padding-left: 0;
    }
    input {
      flex-grow: 1;
    }
  }
  .catalog-form__user-data {
    input {
      width: 100%;
    }
  }
  .catalog-form__text {
    width: 100%;
    margin-bottom: 26px;
  }
  .catalog-form__btn-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: baseline;
    p {
      font-size: 17px;
      margin-top: 10px;
    }
  }
  .catalog-form__btn {
    width: 230px;
  }
}

@media (min-width: 1250px) {
  .catalog-form-center {
    background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 415px, #f1f1f1 415px, #f1f1f1 643px, #ffffff 643px, #ffffff 947px, #f1f1f1 947px, #f1f1f1 1175px, #ffffff 1175px, #ffffff 100%);
  }
  .page-inner__form-headline {
    width: 700px;
    margin-left: 165px;
  }
  .catalog-form-section {
    padding-left: 165px;
    > div {
      left: 54px;
      top: 61px;
    }
    &:first-of-type {
      > div {
        top: 63px;
      }
    }
    &:nth-of-type(2) {
      > div {
        left: 50px;
      }
      ul {
        width: 765px;
      }
    }
    &:nth-of-type(3) {
      padding-top: 4px;
      > div {
        left: 50px;
      }
      ul {
        width: 700px;
      }
    }
    &:nth-of-type(4) {
      padding-top: 52px;
    }
    &:nth-of-type(4),
    &:nth-of-type(5) {
      > div {
        top: 64px;
        left: 50px;
      }
      ul {
        width: 700px;
      }
    }
    &:nth-of-type(6) {
      > div {
        top: 65px;
        left: 50px;
      }
      .catalog-form__text {
        width: 700px;
        margin-bottom: 21px;
        padding-top: 10px;
      }
    }
  }
  .catalog-form__btn-wrapper {
    margin: 0 auto;
    width: 704px;
    p {
      margin-right: 4px;
    }
  }
}
