.catalog-center {
  margin: 0 auto;
  margin-top: 31px;
  width: 320px;
  box-sizing: border-box;
}

.catalog-center__goods {
  width: 260px;
  margin: 0 auto;
}

.good-item {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.good-item__img {
  display: block;

  width: 260px;
  height: 195px;
  cursor: pointer;

  background-repeat: no-repeat;
}

.good-item__img-1 {
  background-image: url('../img/photo-1-mobile@1x.jpg');
}
.good-item__img-2 {
  background-image: url('../img/photo-2-mobile@1x.jpg');
}
.good-item__img-3 {
  background-image: url('../img/photo-3-mobile@1x.jpg');
}

.good-item__text-block {
  box-sizing: border-box;
  padding: 30px;
  padding-top: 26px;
  padding-left: 27px;
  padding-bottom: 27px;

  border: 1px solid $border-color;
}

.good-item__description {
  padding-bottom: 12px;
}

.good-item__title {
  h3 {
    margin: 0;
    padding: 0;

    @include goodstitle;
  }
}

.good-item__parameters {
  font-family: $default-font;
  font-size: 13px;
  line-height: 20px;
  p {
    margin-top: 10px;
  }
}

.good-item__price {
  padding-top: 21px;

  display: flex;
  border-top: 1px solid $border-color;
  justify-content: space-between;
  span {
    font-family: $bold-font;
    font-size: $font-size--p;
    line-height: 24px;

    color: $font-color;
  }
  a {
    margin-top: 1px;
    margin-right: -3px;

    opacity: 0.2;
  }
}

@media (min-width: 768px) {
  .catalog-center {
    width: 768px;
    margin-top: 81px;
  }
  .catalog-center__goods {
    width: 668px;
  }
  .good-item {
    margin-bottom: 54px;
    flex-direction: row;
  }

  .good-item__text-block {
    padding-top: 24px;
  }

  .good-item__title {
    h3 {
      width: 235px;
      font-size: 20px;
      line-height: 24px;
    }
  }

  .good-item__parameters {
    font-size: 15px;
  }

  .good-item__price {
    span {
      font-size: 17px;
      margin-left: 4px;
    }
    a {
      margin-right: 1px;
    }
  }

  .good-item__img {
    width: 334px;
    height: 334px;
  }

  .good-item__img-1 {
    background-image: url('../img/photo-1-mobile@2x.jpg');
  }
  .good-item__img-2 {
    background-image: url('../img/photo-2-mobile@2x.jpg');
  }
  .good-item__img-3 {
    background-image: url('../img/photo-3-mobile@2x.jpg');
  }

  .good-item__text-block {
    width: 334px;
    display: flex;
    flex-direction: column;
  }

  .good-item__description {
    border-top: none;
    border-bottom: none;
  }

  .good-item__price {
    border-top: 1px solid $border-color;
  }
}

@media (min-width: 1250px) {
  .catalog-center {
    width: 1150px;
    box-sizing: border-box;
    margin-top: 128px;
  }
  .catalog-center__goods {
    width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: center;

  }

  .good-item {
    flex-direction: column;
    // align-items: stretch;
    justify-content: flex-start;
    margin-right: 50px;
    widht: 315px;
    &:last-child {
      margin-right: 0;
    }
  }

  .good-item__text-block {
    padding-top: 25px;
  }

  .good-item__img {
    width: 315px;
    height: 462px;
  }

  .good-item__img-1 {
    background-image: url('../img/photo-1-mobile@3x.jpg');
  }
  .good-item__img-2 {
    background-image: url('../img/photo-2-mobile@3x.jpg');
  }
  .good-item__img-3 {
    background-image: url('../img/photo-3-mobile@3x.jpg');
  }

  .good-item__text-block {
    width: 315px;
  }

  .good-item__description {
    min-height: 92px;
    padding-bottom: 6px;
  }
  .good-item__price {
    span {
      font-size: 17px;
      margin-left: 0;
    }
  }
}
