.good-item {
  margin-bottom: 30px;
}

.good-item__img {
  a {
    display: block;

    cursor: pointer;
  }
  img {
    display: block;
  }
}

.good-item__text-block {
  box-sizing: border-box;
  padding: 30px;

  border: 1px solid $border-color;
}

.good-item__description {
  padding-bottom: 10px;

  border-bottom: 1px solid $border-color;
}

.good-item__title {
  h3 {
    margin: 0;
    padding: 0;

    @include goodstitle;
  }
}

.good-item__parameters {
  font-family: $default-font;
  font-size: 13px;
  line-height: 20px;
}

.good-item__price {
  padding-top: 22px;

  display: flex;

  justify-content: space-between;
  span {
    font-family: $bold-font;
    font-size: $font-size--p;
    line-height: 24px;

    color: $font-color;
  }
  a {
    margin-top: 2px;

    opacity: 0.2;
  }
}
