.catalog-center {
  margin: 0 auto;
  margin-top: 30px;
  width: 320px;
  box-sizing: border-box;
}

.catalog-center__goods {
  width: 260px;
  margin: 0 auto;
}

.good-item {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
  &:last-child {
    margin-bottom: 31px;
  }
}

.good-item__img {
  display: block;

  width: 260px;
  height: 195px;
  cursor: pointer;
}

.good-item__text-block {
  box-sizing: border-box;
  padding: 30px;
  padding-top: 26px;
  padding-left: 27px;
  padding-bottom: 27px;

  border: 1px solid $border-color;
}

.good-item__description {
  padding-bottom: 12px;
}

.good-item__title-link {

}

.good-item__title {
  margin: 0;
  padding: 0;

  @include goodstitle;
  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }
  &:focus {
    color: rgba(0, 0, 0, 0.3);
  }
}

.good-item__parameters {
  font-family: $default-font;
  font-size: 13px;
  line-height: 20px;
}

.good-item__size {
  margin-top: 10px;
}

.good-item__price {
  padding-top: 21px;

  display: flex;
  border-top: 1px solid $border-color;
  justify-content: space-between;
}

.good-item__count {
  font-family: $bold-font;
  font-size: $font-size--p;
  line-height: 24px;

  color: $font-color;
}

.good-item__cart {
  margin-top: 1px;
  margin-right: -3px;

  fill: #D3D2D2;
  &:hover {
    fill: #46C1AE;
  }
  &:focus {
    fill: #BDE3DD;
  }
}

@media (min-width: 768px) {
  .catalog-center {
    width: 768px;
    margin-top: 81px;
  }

  .catalog-center__goods {
    width: 668px;
  }

  .good-item {
    margin-bottom: 54px;
    flex-direction: row;
    &:last-child {
      margin-bottom: 52px;
    }
  }

  .good-item__text-block {
    padding-top: 24px;
    width: 334px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .good-item__title {
    width: 235px;
    font-size: 20px;
    line-height: 24px;
  }

  .good-item__parameters {
    font-size: 15px;
  }

  .good-item__size {
    margin-top: 12px;
  }


  .good-item__price {
    border-top: 1px solid $border-color;
  }

  .good-item__count {
    font-size: 17px;
    margin-left: 4px;
  }

  .good-item__cart {
    margin-right: 1px;
  }

  .good-item__img {
    width: 334px;
    height: 334px;
  }

  .good-item__description {
    border-top: none;
    border-bottom: none;
  }
}

@media (min-width: 1250px) {
  .catalog-center {
    width: 1150px;
    box-sizing: border-box;
    margin-top: 128px;
  }
  .catalog-center__goods {
    width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
  }

  .good-item {
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 53px;
    widht: 315px;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }
    &:focus {
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
    }
  }

  .good-item__text-block {
    padding-top: 25px;
    align-content: space-between;
  }

  .good-item__img {
    width: 315px;
    height: 462px;
  }

  .good-item__img-1 {
    background-image: url('../img/photo-1-mobile@3x.jpg');
  }
  .good-item__img-2 {
    background-image: url('../img/photo-2-mobile@3x.jpg');
  }
  .good-item__img-3 {
    background-image: url('../img/photo-3-mobile@3x.jpg');
  }

  .good-item__text-block {
    width: 315px;
  }

  .good-item__description {
    min-height: 92px;
    padding-bottom: 6px;
  }

  .good-item__size {
    margin-top: 10px;
  }

  .good-item__count {
    font-size: 17px;
    margin-left: 0;
  }
}
