.main-nav {
  position: absolute;
  z-index: 100;
  top: 78px;
  left: 0;

  width: 320px;

  display: block;

  background-color: #ffffff;
}

.main-nav__menu {
  position: relative;

  width: 320px;
  margin: 0;
  padding: 0;
  display: none;

  list-style: none;
}

.main-nav__menu--open {
  display: block;
}

.main-nav__item {
  border-bottom: 1px solid $border-color;
  a {
    position: relative;

    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 75px;

    display: block;
    width: auto;

    font-family: $bold-font;
    font-size: $font-size--a;
    line-height: 24px;

    color: $font-color;

    text-align: left;
    text-decoration: none;
  }
}

.main-nav__item--search,
.main-nav__item--cart {
  width: auto;
  svg {
    position: absolute;
    top: 31px;
    left: 30px;
  }
}

.main-nav__delivery {
  display: none;
}

.main-nav__after {
  display: none;
}

.main-nav__item,
  .main-nav__after-item {
    a {
      &:hover {
        color: rgba(0 ,0 ,0, 0.6);
      }
      &:active {
        color: rgba(0 ,0 ,0, 0.3);
      }
    }
  }

  .main-nav__item--search-link,
  .main-nav__item--cart-link {
    &:hover {
      path {
        fill: #63D1BB;
      }
    }
    &:focus {
      opacity: 0.3;
    }
  }



@media (min-width: 768px) {
  .main-nav {
    position: static;

    width: 668px;
  }

  .main-nav__menu {
    width: 668px;

    display: flex;

    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
  }

  .main-nav__item {
    border-bottom: none;
    border-left: 1px solid $border-color;
    a {
      display: flex;
      align-items: center;
      min-height: 84px;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .main-nav__item:first-child,
  .main-nav__item:nth-child(2) {
    position: absolute;
    z-index: 1;
    top: 73px;

    border-left: none;
    a {
      padding-left: 0;
      font-size: 15px;
    }
  }

  .main-nav__item:first-child {
    left: 0;
  }

  .main-nav__item:nth-child(2) {
    left: 168px;
  }

  .main-nav__item--cart {
    a {
      margin-top: -5px;
      padding-left: 82px;
    }
    svg {
      top: 33px;
    }
  }

  .main-nav__item--search {
    width: 82px;
    span {
      display: none;
    }
    svg {
      left: 32px;
      top: 32px;
    }
  }

  .main-nav__delivery {
    position: absolute;
    z-index: 1;
    top: 102px;
    right: 50px;

    display: block;

    font-family: $default-font;
    font-size: $font-size--p;
    line-height: 24px;

    color: $font-color;
  }

  .main-nav__after {
    display: none;
  }
}

@media (min-width: 1250px) {
  .main-nav {
    position: static;

    width: 1050px;
  }

  .main-nav__menu {
    width: 1050px;
  }

  .main-nav__item {
    a {
      min-height: 87px;
    }
    svg {
      top: 34px;
    }
  }

  .main-nav__item:first-child,
  .main-nav__item:nth-child(2) {
    position: absolute;
    z-index: 1;
    top: -2px;

    border-left: none;
    a {
      font-size: $font-size--a;
    }
  }

  .main-nav__item:first-child {
    left: 1px;
    top: -3px;
    a {
      padding-right: 35px;
      padding-left: 0;

      border-right: 1px solid $border-color;
    }
  }

  .main-nav__item:nth-child(2) {
    left: 165px;
    a {
      padding-right: 35px;
      padding-left: 55px;
    }
  }

  .main-nav__after{
    position: absolute;
    z-index: 2;
    top: 90px;
    left: 102px;

    padding: 0;

    display: flex;

    list-style: none;

    justify-content: space-between;
  }

  .main-nav__after-item {
    margin-right: 62px;
    a {
      font-family: $bold-font;
      font-size: $font-size--p;

      color: $font-color;
    }
  }
  .main-nav__delivery {
    right: 98px;
    top: 105px;
  }
}
