.main-nav {
  height: 317px;

  display: none;
}

.main-nav__menu {
  width: 320px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__item {
  border-bottom: 1px solid $border-color;
  a {
    padding-top: 27px;
    padding-bottom: 27px;

    display: block;

    font-family: $bold-font;
    font-size: $font-size--a;
    line-height: 24px;

    color: $font-color;

    text-align: center;
    text-decoration: none;
  }
}
