.page-product {
  line-height: 24px;
  .page-product__good-week {
    font-family: $default-font;
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
    color: $accent-color;
  }
  .page-product__table {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 30px;
    border-collapse: collapse;
  }
  .page-product__row {
    border-bottom: 1px solid #ECECEC;
  }
  .page-product__cell {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
