.page-caption {
  background-color: #f9f9f9;

  .page-caption__inner--catalog {
    min-height: 178px;

    display: flex;

    justify-content: center;
    align-items: center;
  }
}

.page-caption__inner {
  position: relative;

  max-width: 340px;
  min-height: 490px;
  margin: 0 auto;
}

.page-caption__inner--background {
  background-image: url('../img/hero-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: 50% -13px;
}

.page-caption__title {
  position: absolute;
  top: 75px;
  left: 50%;

  width: 300px;
  margin-left: -150px;

  font-family: $bold-font;
  font-size: 20px;
  line-height: 50px;

  color: $font-color;

  text-align: center;
  h2 {
    margin: 0;
    padding: 0;
  }
}

.page-caption__title-catalog {
  margin: 0;

  font-family: $bold-font;
  font-size: $font-size--h2;

  text-align: center;
}

.page-caption__links {
  position: absolute;
  top: 287px;
  left: 50%;

  width: 320px;
  margin-left: -160px;
}

.page-caption__link {
  margin: 0 auto;
  padding: 25px;
  padding-top: 29px;
  padding-bottom: 29px;

  display: block;

  font-family: $bold-font;

  color: #ffffff;

  text-decoration: none;

  span {
    width: 110px;

    display: block;
  }

  &:first-child {
    position: relative;

    background-color: $accent-color;
  }

  &:last-child {
    position: relative;

    background-color: $accent-color--hover;
  }

  &:first-child::after {
    position: absolute;
    top: 20px;
    right: 30px;

    width: 41px;
    height: 62px;

    opacity: 0.1;
    background-image: url('../img/icon-interior.svg');
    background-repeat: no-repeat;

    content: '';
  }

  &:last-child::after {
    position: absolute;
    top: 20px;
    right: 20px;

    width: 61px;
    height: 61px;

    opacity: 0.1;
    background-image: url('../img/icon-toy.svg');
    background-repeat: no-repeat;

    content: '';
  }
}
