.page-product {
  position: relative;
  line-height: 24px;
  margin-bottom: 8px;
  &::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    height: 35px;
    background-image: url('../img/bg-zigzag-line.svg');
    background-repeat: repeat-x;
  }
}

.page-product__header {
  display: flex;
  flex-direction: column;
}


.page-product__good-week {
  font-family: $bold-font;
  font-size: 17px;

  color: $accent-color;

  text-transform: uppercase;
  margin-bottom: 7px;
}

.page-product__description {
  margin-bottom: 16px;
}

.page-product__image {
  img {
    width: 100%;
  }
}

.page-product__table {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 28px;

  border-collapse: collapse;
}

.page-product__row {
  border-bottom: 1px solid #ececec;
}

.page-product__cell {
  height: 40px;
}

.page-product__cell {
  &:first-child {
    width: 98px;
  }
}

.page-product__image {
  margin-bottom: 2px;
}

.page-product__price {
  b {
    margin-bottom: 11px;
    margin-left: -2px;
    padding-top: 15px;
    padding-bottom: 15px;

    display: block;

    font-family: $bold-font;
    font-size: $font-size--a;

    color: $font-color;

    text-align: center;
  }
}

.page-product__btn,
.reviews__btn,
.page-contacts__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .page-product {
    font-size: $font-size--a;
    line-height: 30px;
    &:after {
      bottom: -40px;
    }
  }
  .page-product__header {
    margin-top: 6px;
    margin-left: -2px;
    margin-bottom: 56px;

    flex-direction: row;

    justify-content: space-between;
    aling-items: flex-start;
  }

  .page-product__good-week {
    width: 100px;

    font-size: 17px;
    line-height: 17px;
    margin-top: 2px;
    margin-right: 13px;

    text-align: center;
    text-transform: uppercase;
  }

  .page-product__content {
    position: relative;
  }

  .page-product__content-inner {
    width: 292px;
  }

  .page-product__description {
    margin-bottom: 36px;
    p {
      font-size: 17px;
      font-family: $default-font;
      line-height: 30px;
      margin-top: -9px;
    }
  }

  .page-product__table {
    margin-bottom: 40px;
  }

  .page-inner__price {
    b {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 19px;
    }
  }

  .page-product__image {
    position: absolute;
    top: 9px;
    right: 0;

    width: 334px;
  }
}

@media (min-width: 1250px) {
  .page-product {
    position: relative;

    width: 100%;
    margin: 0 auto;
    padding-top: 13px;
    &:after {
      bottom: -60px;
    }
  }

  .page-product__header {
    margin-top: -17px;
    margin-left: -3px;
    min-height: 60px;
  }

  .page-product__good-week {
    margin-left: 15px;
    margin-top: 5px;
  }

  .page-product__image {
    width: 525px;
  }

  .page-product__header {
    position: absolute;
    z-index: 1;
    top: 154px;
    left: 120px;

    width: 680px;

    flex-direction: row-reverse;

    justify-content: space-between;
  }

  .page-inner__title {
    font-size: 53px;
  }

  .page-product__content-inner {
    padding-top: 182px;
    padding-left: 175px;
  }

  .page-product__description {
    margin-bottom: 47px;
    margin-top: -15px;
  }

  .page-product__table {
    margin-bottom: 93px;
  }

  .page-inner__price {
    b {
      margin-bottom: 20px;
    }
  }
}
