.page-caption {
  width: 100%;
  border-top: 1px solid $border-color;
  background-color: #F9F9F9;
  .page-caption__inner--catalog {
    height: 176px;
    background-image: none;
    padding-top: 0;


    display: flex;

    justify-content: center;
    align-items: center;
  }
}

.page-caption--catalog,
.page-caption--form {
  background-color: #F1F1F1;
}

.page-caption--form {
  .page-caption__title-catalog {
    margin-left: -123px;
    top: 44px;
  }
}

.page-caption__inner {
  position: relative;
  margin: 0 auto;
  background-image: url('../img/hero-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: 50% -18px;
  width: 320px;
  padding-top: 282px;

  @media(min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("/img/hero-mobile@2x.jpg");
    background-size: 575px auto;
  }
}

.page-caption__title {
  width: 260px;
  position: absolute;
  font-family: $bold-font;
  font-size: 27px;
  line-height: 30px;
  top: 48px;
  left: 50%;
  margin-left: -129px;

  color: $font-color;

  text-align: center;
  h2 {
    margin: 0;
    padding: 0;
  }
}

.page-caption__title-catalog {
  position: absolute;
  top: 43px;
  left: 50%;
  margin-left: -120px;

  font-family: $bold-font;
  font-size: 27px;

  text-align: center;
}

.page-caption__link {
  display: flex;
  min-height: 103px;
  aling-items: center;
  padding-left: 28px;

  font-family: $bold-font;
  font-size: 19px;

  color: #ffffff;

  text-decoration: none;
  span {
    width: 110px;
    margin-top: 23px;
  }
  &:first-child {
    position: relative;

    background-color: $accent-color;
    &:hover {
      background-color: #59D5BC;
      &:after {
        opacity: 0.7;
      }
    }
    &:focus {
      background-color: #59D5BC;
      color: rgba(255, 255, 255, 0.3);
      &:after {
        opacity: 0.3;
      }
    }
  }
  &:last-child {
    position: relative;

    background-color: $accent-color--hover;
    &:hover {
      background-color: #46C1AE;
      &:after {
        opacity: 0.7;
      }
    }
    &:focus {
      background-color: #59D5BC;
      color: rgba(255, 255, 255, 0.3);
      &:after {
        opacity: 0.3;
      }
    }
  }
  &:first-child::after {
    position: absolute;
    top: 23px;
    right: 35px;

    width: 41px;
    height: 62px;

    opacity: 0.5;
    background-image: url('../img/icon-interior.svg');
    background-repeat: no-repeat;

    content: '';
  }
  &:last-child::after {
    position: absolute;
    top: 20px;
    right: 25px;

    width: 61px;
    height: 61px;

    opacity: 0.5;
    background-image: url('../img/icon-toy.svg');
    background-repeat: no-repeat;

    content: '';
  }
}

@media (min-width: 768px) {
  .page-caption {
    position: relative;
    .page-caption__inner--catalog {
      height: 224px;
    }
    &::after {
      position: absolute;
      bottom: -15px;
      left: 0;

      width: 100%;
      height: 33px;

      background-image: url('../img/bg-zigzag-fill.svg');
      background-repeat: repeat-x;

      content: '';
    }
  }
  .page-caption__inner {
    position: relative;

    width: 768px;
    padding-top: 626px;
    background-image: url('../img/hero-mobile@2x.jpg');
    background-position: -190px -1px;
    background-size: 1150px 100%;
    @media(min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("/img/hero-desktop@2x.jpg");
      background-size: 1150px auto;
    }
  }

  .page-caption--form {
    .page-caption__title-catalog {
      margin-left: -195px;
      top: 52px;
    }
  }

  .page-caption__title {
    width: 510px;
    position: absolute;
    font-family: $bold-font;
    top: 118px;
    left: 50%;
    margin-left: -255px;

    color: $font-color;

    font-family: $bold-font;
    font-size: 43px;
    line-height: 50px;
  }

  .page-caption__title-catalog {
    position: absolute;
    top: 54px;
    left: 50%;
    margin-left: -190px;

    font-family: $bold-font;
    font-size: $font-size--h2;

    text-align: center;
  }

  .page-caption__links {
    top: auto;
    bottom: 0;

    width: 668px;
    margin: 0 auto;

    display: flex;

    justify-content: space-between;
  }

  .page-caption__link {
    box-sizing: border-box;
    width: 334px;
    height: 118px;
    padding-left: 35px;
    span {
      margin-top: 29px;
      font-size: 20px;
      line-height: 30px;
    }
    &:first-child::after {
      top: 31px;
      right: 35px;
    }
    &:last-child::after {
      top: 34px;
      right: 32px;
    }
  }

  .page-caption__inner--catalog {
    background-image: none;
  }
}

@media (min-width: 1250px) {
  .page-caption {
    min-height: 254px;
  }
  .page-caption__inner {
    padding-top: 626px;
    width: 1250px;

    background-image: url('../img/hero-desktop@1x.jpg');
    background-position: 0 -1px;
    background-size: 1250px 100%;
    @media(min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("/img/hero-desktop@2x.jpg");
    }
    &::after {
      width: 1250px;
    }
  }

  .page-caption--form {
    .page-caption__title-catalog {
      margin-left: -239px;
      top: 42px;
    }
  }

  .page-caption__title {
    font-family: $bold-font;
    font-size: 53px;
    line-height: 57px;
    width: 625px;
    position: absolute;
    top: 110px;
    left: 50%;
    margin-left: -312px;
  }

  .page-caption__title-catalog {
    position: absolute;
    top: 41px;
    left: 50%;
    margin-left: -229px;

    font-family: $bold-font;
    font-size: 53px;

    text-align: center;
  }

  .page-caption__links {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  }

  .page-caption__link {
    width: 525px;
  }

  .page-caption__inner--catalog {
    padding-top: 0;
    min-height: 254px;
    background-image: none;
    width: 1150px;
    margin: 0 auto;
  }
}
