.page-caption {
  border-top: 1px solid $border-color;
  background-color: #f9f9f9;
  .page-caption__inner--catalog {
    min-height: 178px;

    display: flex;

    justify-content: center;
    align-items: center;
  }
}

.page-caption__inner {
  position: relative;

  width: 340px;
  min-height: 490px;
  margin: 0 auto;
}

.page-caption__inner--background {
  background-image: url('../img/hero-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  width: 320px;
}

.page-caption__title {
  position: absolute;
  top: 75px;
  left: 50%;

  width: 300px;
  margin-left: -150px;

  font-family: $bold-font;
  font-size: 20px;
  line-height: 50px;

  color: $font-color;

  text-align: center;
  h2 {
    margin: 0;
    padding: 0;
  }
}

.page-caption__title-catalog {
  margin: 0;

  font-family: $bold-font;
  font-size: $font-size--h2;

  text-align: center;
}

.page-caption__links {
  position: absolute;
  top: 287px;
  left: 50%;

  width: 320px;
  margin-left: -160px;
}

.page-caption__link {
  padding: 25px;
  padding-top: 29px;
  padding-bottom: 29px;

  display: block;

  font-family: $bold-font;

  color: #ffffff;

  text-decoration: none;
  span {
    width: 110px;

    display: block;
  }
  &:first-child {
    position: relative;

    background-color: $accent-color;
  }
  &:last-child {
    position: relative;

    background-color: $accent-color--hover;
  }
  &:first-child::after {
    position: absolute;
    top: 20px;
    right: 30px;

    width: 41px;
    height: 62px;

    opacity: 0.1;
    background-image: url('../img/icon-interior.svg');
    background-repeat: no-repeat;

    content: '';
  }
  &:last-child::after {
    position: absolute;
    top: 20px;
    right: 20px;

    width: 61px;
    height: 61px;

    opacity: 0.1;
    background-image: url('../img/icon-toy.svg');
    background-repeat: no-repeat;

    content: '';
  }
}

@media (min-width: 768px) {
  .page-caption__inner {
    position: relative;

    width: 768px;
    &::after {
      position: absolute;
      bottom: -1px;
      left: -2px;

      width: 768px;
      height: 12px;

      background-image: url('../img/zigzag.png');
      background-repeat: repeat-x;

      content: '';
    }
  }

  .page-caption__inner--background {
    width: 768px;
    height: 746px;

    background-image: url('../img/hero-mobile@2x.jpg');
  }

  .page-caption__inner {
    min-height: 741px;
  }

  .page-caption__title {
    top: 145px;

    width: 660px;
    margin-left: -330px;

    font-family: $bold-font;
    font-size: 26px;
  }

  .page-caption__links {
    top: auto;
    bottom: 0;

    width: 668px;
    margin-left: -334px;

    display: flex;

    justify-content: space-between;
  }

  .page-caption__link {
    box-sizing: border-box;
    width: 334px;
  }
}

@media (min-width: 1250px) {
  .page-caption__inner {
    width: 1250px;
    &::after {
      width: 1250px;
    }
  }
  .page-caption__inner--background {
    width: 1250px;
    height: 746px;

    background-image: url('../img/hero-mobile@3x.jpg');
  }

  .page-caption__title {
    width: 1000px;
    margin-left: -500px;

    font-size: 38px;
    line-height: 60px;
  }

  .page-caption__links {
    width: 1050px;
    margin-left: -525px;
  }

  .page-caption__link {
    width: 525px;
  }
}
