.page-header {
  position: relative;

  max-width: 320px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;

  color: $font-color;
  background-color: $main-bg;
}

.page-header__title {
  display: none;
}

.page-header__humburger {
  position: absolute;
  top: 32px;
  right: 30px;

  width: 20px;
  height: 14px;

  display: block;

  background-image: url('../img/icon-menu-open.svg');
  background-repeat: no-repeat;
}
