.page-footer,
.page-footer__catalog {
  background-color: #f1f1f1;
}

.page-footer__catalog {
  padding-top: 30px;
  padding-bottom: 30px;
}

.page-footer__wrapper {
  position: relative;
  width: 255px;
  display: flex;
  flex-direction: column;

  align-items: center;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #E5E5E5;
    top: 43%;
    left: 0;
  }
}

.page-footer__developers {
  width: 190px;
  margin-top: 16px;
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.page-footer__developers-title {
  font-family: $bold-font;
  font-size: 19px;
  line-height: 18px;
  margin-top: 8px;
  margin-left: 5px;

  color: $font-color;
  &:focus {
    opacity: 0.3;
  }
}

.page-footer__developers-logo {
  margin-top: -3px;
  margin-left: 24px;
}

.page-footer__logo {
  display: none;
}

.page-footer__developers-logo-svg {
  fill: $accent-color;
  &:hover {
    fill: #46C1AE;
  }
  &:focus {
    fill: #BDE3DD;
  }
}

@media (min-width: 768px) {
  .page-footer__wrapper {
    width: auto;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }

  .page-footer__logo {
    display: block;
    margin-right: 134px;
  }

  .page-footer__logo-svg {
    fill: #231F20;
    width: 120px;
    height: 40px;
    &:hover {
      fill: #46C1AE;
    }
    &:focus {
      fill: #BDE3DD;
    }
  }

  .page-footer__developers {
    margin-top: 0;
  }

  .page-footer__developers-title {
    margin-top: -1px;
  }

  .page-footer__catalog {
    box-sizing: border-box;
    width: 768px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .page-inner__footer {
    width: 668px;
    margin: 0 auto;
  }

  .page-footer__wrapper {
    &::after {
      display: none;
    }
  }
}

@media (min-width: 1250px) {
  .page-footer {
    &--catalog {
      width: 1150px;
    }
  }

  .page-footer__logo {
    display: block;
    margin-right: 146px;
  }

  .page-footer__developers {
    margin-right: 5px;
    margin-top: 5px;
  }

  .page-footer__developers-title {
    margin-top: -6px;
    margin-left: 10px;
  }

  .page-footer__developers-logo {
    margin-top: -10px;
  }
}
