.page-contacts {
  line-height: 30px;
  margin-bottom: 39px;
}

.page-contacts__row {
  display: flex;

  justify-contens: space-between;
  &:first-child {
    margin-bottom: 30px;
    span:last-child {
      border-bottom: 1px solid $accent-color;
    }
  }
  &:last-child {
    span:last-child {
      width: 145px;
    }
  }
  span {
    vertical-align: top;
    &:first-child {
      width: 78px;
    }
  }
}

.page-contacts__map-img {
  width: 320px;
  height: 457px;
  margin: 0 auto;
  margin-bottom: 39px;

  background-image: url('../img/map-mobile@1x.jpg');
  background-repeat: no-repeat;
}

.page-contacts__btn {
  width: 260px;
  margin: 0 auto;
  letter-spacing: 0.05em;
}

@media (min-width: 768px) {
  .page-contacts {
    font-size: $font-size--a;
    line-height: 30px;
  }
  .page-contacts__contact-block {
    position: relative;

    display: flex;

    justify-content: space-between;
    align-items: flex-start;
    &::before {
      position: absolute;
      top: -85px;
      right: 0;

      width: 47px;
      height: 81px;

      background-image: url('../img/icon-flag.svg');
      background-repeat: no-repeat;

      content: '';
    }
  }

  .page-contacts__row {
    width: 334px;
    &:last-child {
      span {
        &:last-child {
          width: 200px;
        }
      }
    }
  }

  .page-contacts__map-img {
    width: 768px;
    height: 457px;

    background-image: url('../img/map-mobile@2x.jpg');
    background-repeat: no-repeat;
  }

  .page-contacts__btn {
    width: 230px;
    margin: 50px auto;
  }
}

@media (min-width: 1250px) {
  .page-contacts {
    position: relative;

    width: 1250px;
    margin: 0 auto;
    margin-bottom: 105px;
  }

  .page-inner--contacts {
    width: auto;
  }

  .page-contacts__contact-block {
    position: relative;

    width: 320px;

    flex-direction: column;
  }

  .page-contacts__map-img {
    width: 625px;
    height: 457px;
    margin: 0;

    background-image: url('../img/map-mobile@2x.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .page-contacts__wrapper {
    display: flex;
  }

  .page-contacts__contact-block {
    margin-top: 59px;
    &::before {
      top: -108px;
      left: -103px;
    }
  }

  .page-contacts__btn {
    position: absolute;
    top: 365px;
    left: 275px;
  }
}
