.page-contacts {
  line-height: 30px;
  margin-bottom: 39px;
}

.page-contacts__row {
  display: flex;

  justify-contens: space-between;
  &:first-child {
    margin-bottom: 30px;
  }
}

.page-contacts__cell-address,
.page-contacts__cell-email {
  vertical-align: top;
}

.page-contacts__cell-address,
.page-contacts__cell-email {
  &:first-child {
    width: 78px;
  }
  &:last-child {
    width: 145px;
  }
}

.page-contacts__cell-email {
  &:last-child {
    width: auto;
  }
}

.page-contacts__mail-link {
  position: relative;
  color: $font-color--p;
  &:hover {
    color: #62D1BA;
  }
  &:focus {
    color: #D3EDE8;
    &:before {
      width: 160px;
      background-color: #ECF9F7;
    }
  }
  &:before {
    content: "";
    position: absolute;
    width: 180px;
    height: 1px;
    background-color: #62D1BA;
    top: 22px;
  }
}

.page-contacts__map-img {
  display: block;
  cursor: pointer;
  width: 320px;
  height: 457px;
  margin: 0 auto;
  margin-bottom: 39px;
}

.page-contacts__btn {
  width: 260px;
  margin: 0 auto;
  letter-spacing: 0.05em;
}

@media (min-width: 768px) {
  .page-contacts {
    font-size: $font-size--a;
    line-height: 30px;
    margin-bottom: 57px;
  }
  .page-contacts__contact-block {
    font-size: $font-size--a;
    line-height: 30px;
    position: relative;

    display: flex;

    justify-content: space-between;
    align-items: flex-start;
    &::before {
      position: absolute;
      top: -114px;
      right: 2px;

      width: 47px;
      height: 81px;

      background-image: url('../img/icon-flag.svg');
      background-repeat: no-repeat;

      content: '';
    }
  }

  .page-contacts__row {
    width: 334px;
  }

  .page-contacts__cell-address {
    &:last-child {
      width: 230px;
    }
  }

  .page-contacts__mail-link {
    &:before {
      content: "";
      position: absolute;
      width: 203px;
      height: 1px;
      background-color: #62D1BA;
      top: 25px;
    }
  }

  .page-contacts__map-img {
    width: 768px;
    height: 457px;
    margin-bottom: 55px;

    background-image: url('../img/map-mobile@2x.jpg');
    background-repeat: no-repeat;
  }

  .page-contacts__btn {
    width: 230px;
    margin: 50px auto;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.01em;
  }
}

@media (min-width: 1250px) {
  .page-contacts {
    position: relative;

    width: 1250px;
    margin: 0 auto;
    margin-bottom: 103px;
    margin-top: 92px;
  }

  .page-contacts__wrapper {
    padding-left: 275px;
  }

  .page-contacts__contact-block {
    position: relative;

    width: 320px;
    margin-right: 0;
    flex-direction: column;
    margin-top: 52px;
    &::before {
      top: -115px;
      left: -109px;
    }
  }

  .page-contacts__map-img {
    width: 525px;
    height: 457px;
    margin: 0;
  }

  .page-contacts__wrapper {
    display: flex;
  }

  .page-contacts__btn {
    position: absolute;
    top: 354px;
    left: 275px;
  }
}
