.page-footer {
  background-color: #f1f1f1;

  &--wrapper {
    padding-top: 25px;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;

    align-items: center;
  }
}

.page-footer__developers {
  width: 185px;

  display: flex;

  justify-content: space-between;
  align-items: center;
  p {
    margin-top: 33px;

    font-family: $bold-font;
    font-size: 19px;
    line-height: 0;

    color: $font-color;
  }
  a {
    margin-top: 20px;

    line-height: 0;
  }
  svg {
    fill: $accent-color;
  }
}
