.reviews {
  box-sizing: border-box;
  input[type=radio] {
    display: none;
  }
}

.page-inner--reviews {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.page-inner__acticle {
  margin-bottom: 30px;
  padding-top: 27px;
}

.reviews__author {
  margin-bottom: 5px;

  font-family: $bold-font;
  font-size: 17px;
  line-height: 24px;

  color: $font-color;
}

.reviews__author + span {
  font-family: $default-font;
  font-size: 17px;
  line-height: 30px;
}

.reviews__slider-controls {
  margin-bottom: 35px;

  display: flex;

  justify-content: space-between;
}

.reviews__slider-arrow {
  position: relative;

  padding: 23px;

  border: 1px solid #ececec;

  flex-basis: 129px;
  &:first-child {
    border-right: none;
  }
  &::after {
    top: 9px;
    left: 40px;

    width: 51px;
    height: 26px;

    @include content;
  }
  &:first-child::after {
    background-image: url('../img/icon-left-arrow.svg');
  }
  &:last-child::after {
    background-image: url('../img/icon-right-arrow.svg');
  }
}

@media (min-width: 768px) {
  .reviews {
    position: relative;

    font-size: 17px;
    line-height: 30px;
  }

  .page-inner--reviews {
    justify-content: space-between;
    flex-direction: row;
  }

  .page-inner__title--reviews {
    margin-bottom: 56px;
  }

  .reviews__text {
    width: 610px;
    margin-bottom: 55px;
  }

  .reviews__slider-elements {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }

  .reviews__btn {
    width: 175px;
  }

  .reviews__slider-controls {
    width: 250px;
  }

  .reviews__slider-arrow {
    position: relative;

    width: 50px;
    padding: 23px;
    padding-right: 10px;
    padding-left: 10px;

    border: none;
    &::after {
      top: 9px;

      width: 51px;
      height: 26px;

      @include content;
    }
    &:first-child {
      &::after {
        left: 55px;
      }
    }
    &:last-child {
      &::after {
        left: 20px;
      }
    }
  }
}

@media (min-width: 1250px) {
  .reviews {
    width: 1250px;
    margin: 0 auto;
    padding: 100px;
  }
  .reviews__text {
    width: 780px;

    font-family: $default-font;
    font-size: 17px;

    color: $font-color;
  }
  .reviews__btn {
    top: 74px;
    right: 200px;
  }
  .reviews__slider-controls {
    top: 315px;
    right: 160px;
  }
}
