.site-logo {
  position: absolute;
  top: 50%;
  left: 50%;

  margin-top: -18px;
  margin-left: -43px;
  z-index: 10;
  a {
    &:hover {
      opacity: 0.6;
    }
    &:focus {
      opacity: 0.3;
    }
  }
}

@media (min-width: 768px) {
  .site-logo {
    left: 50px;
    margin-top: -23px;
    margin-left: -2px;
  }
}

@media (min-width: 1250px) {
  .site-logo {
    left: 50%;
    margin-top: -36px;
    margin-left: -73px;
  }
}
