.social-links {
  margin: 0;
  padding: 0;

  display: flex;

  list-style: none;

  justify-content: center;
  align-items: center;
}
.social-links__item {
  margin-right: 42px;
  margin-bottom: 20px;
  &:nth-child(2) {
    margin-right: 39px;
  }
  &:last-child {
    margin-right: 0;
  }
}

.social-links__item-svg {
  fill: #231F20;
  &:hover {
    fill: #46C1AE;
  }
  &:focus {
    fill: #BDE3DD;
  }
}

@media (min-width: 768px) {
  .social-links {
    margin-right: 40px;
    margin-top: 4px;

    border-bottom: none;
  }
  .social-links__item {
    margin-bottom: 0;
  }
}
